{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <h1>Todo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ path('app_todo_index') }}?orderby=id&order={{order}}">Id</th>
                <th><a href="{{ path('app_todo_index') }}?orderby=name&order={{order}}">Name</a></th>
                <th>description</th>
                <th>age</th>
                <th>done</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.description }}</td>
                <td>{{ todo.age }}</td>
                <!--Faire la checkbox de Done dans le tableau-->
                <td><input type="checkbox" disabled {{ todo.done ? 'checked' : '' }}></td>
                <td>
                    <a href="{{ path('app_todo_show', {'id': todo.id}) }}">show</a>
                    <a href="{{ path('app_todo_edit', {'id': todo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        <!--formulaire de Filtre-->
        {{form_start(form)}}
        {{form_widget(form)}}
        <input type="submit" value="Filtrer">
        {{form_end(form)}}

        <!--formulaire de recherche-->
        {{form_start(search)}}
        {{form_widget(search)}}
        <input type="submit" value="Recherche">
        {{form_end(search)}}
        </tbody>
    </table>

    <a href="{{ path('app_todo_new') }}">Create new</a>
{% endblock %}
