{% extends 'base.html.twig' %}

{% block title %}Todo{% endblock %}

{% block body %}
    <h1>Todo</h1>

    <table class="table">
        <tbody>
            <tr>
            <!-- ajoute une ligne show Id -->
                <th>Id</th>
                <td>{{ todo.id }}</td>
            </tr>
            <tr>
            <!-- ajoute une ligne show name -->
                <th>Name</th>
                <td>{{ todo.name }}</td>
            </tr>
            <tr>
            <!-- ajoute une ligne show description -->
                <th>description</th>
                <td>{{ todo.description }}</td>
            </tr>
            <tr>
            <!-- ajoute une ligne show age -->
                <th>age</th>
                <td>{{ todo.age }}</td>
            </tr>
            <tr>
            <!-- sur la page show ajoute une ligne travail fait avec une checkbox -->
                <th>Travail fait</th>
                <td>{{ todo.done }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_todo_index') }}">back to list</a>

    <a href="{{ path('app_todo_edit', {'id': todo.id}) }}">edit</a>

    {{ include('todo/_delete_form.html.twig') }}
{% endblock %}
